@import '../colors';

.topics {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 10rem;

  &__box {
    background-color: $white;
    width: 25rem;
    height: 20rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &-img {
      width: 100%;
      height: 100%;
      margin-bottom:-3px;
    }
    &-text {
      display: flex;
      align-items: center;
      background-color: $white;
      height: 6rem;
      justify-content: space-around;

      &-title {
        font-size: 1.6rem;
        width: 13rem;
        display: flex;
        font-weight: bold;
        text-align: left;
        margin-left: 1.5rem;
      }
      &-arrow {
        font-size: 1rem;
      }
    }
  }
}
